 <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">E-<span>VOTING</span></a></h1> -->
        <a href="#intro" class="scrollto"><img src="assets/img/logo_3.png" alt="" title=""></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Accueil</a></li>
          <li routerLinkActive="menu-active"><a  [routerLink]="['/candidats-elect']">Candidats</a></li>
          <li><a href="#speakers">Programme</a></li>      
          <li><a href="#speakers">Galerie</a></li>
          <li><a href="#supporters">Partenaire</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="buy-tickets"><a href="#buy-tickets">connexion</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
