 <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">E-<span>VOTING</span></a></h1> -->
        <a href="#intro" class="scrollto"><img src="assets/img/logo_3.png" alt="" title=""></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li routerLinkActive="menu-active"><a href="#intro" [routerLink]="['/home']">Accueil</a></li>
          <li routerLinkActive="menu-active"><a  [routerLink]="['/election']">Eléction</a></li>
          <li routerLinkActive="menu-active"><a  [routerLink]="['/candidats']">Candidats</a></li>
          <li routerLinkActive="menu-active"><a  [routerLink]="['/electeurs']">Electeur</a></li>
          <li routerLinkActive="menu-active"><a  [routerLink]="['/vote']">Vote</a></li>
          <li routerLinkActive="menu-active"><a  [routerLink]="['/resultats']">Résulats</a></li>
          <li><a href="#contact">Contact</a></li>
          <li *ngIf="currentUser!==null" (click)="logOut()" class="buy-tickets"><a >Déconnexion</a></li>
          <!-- <li routerLinkActive="menu-active"><a  [routerLink]="['/resultats']">Déconnexion</a></li> -->
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
