 <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">E-<span>Voting</span><br> Vote electronique</h1>
      <p class="mb-4 pb-0">Vote en ligne pour la première fois en Tunisie</p>
      <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a>
      <a href="#about" class="about-btn scrollto"> A propos !</a>
    </div>  
  </section>
