<div class="container mt-planifier ">

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-dark  mb-4 mt-4" data-toggle="modal" data-target="#exampleModalLong">
    planifer election
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">

      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Planifier élection</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form (ngSubmit)="onSubmit(formPlanifier.value)" #formPlanifier="ngForm">
          <div class="modal-body">

            <div class="form-group">
              <label for="dateDebut">Date du début d'élection</label><br>
              <input [owlDateTime]="dateDebut" placeholder="Date Time" id="dateElections" name="dateDebut" ngModel>
              <span [owlDateTimeTrigger]="dateDebut"><i class="fa fa-calendar"></i></span>
              <owl-date-time #dateDebut></owl-date-time>

            </div>
            <div class="form-group">
              <label for="dateFin" class="">Date de la fin d'élection</label><br>
              <input [owlDateTime]="dateFin" placeholder="Date Time" id="dateFin" name="dateFin" ngModel>
              <span [owlDateTimeTrigger]="dateFin"><i class="fa fa-calendar"></i></span>
              <owl-date-time #dateFin></owl-date-time>

            </div>
            <div class="form-group">
              <label for="typeElection">Type:</label>
              <select class="form-control" ngModel name="type">
                <option value="presidentielle">Présidentielle</option>
                <option value="legislative">Législative</option>
                <option value="municipale">municipale </option>

              </select>
            </div>



          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="mo
            dal">Fermer</button>
            <input type="submit" class="btn btn-dark" value="Enregistrer" />
          </div>
        </form>
      </div>

    </div>
  </div>
 
 
  <table id="dataTablePlanification" *ngIf="tableDataIsLoaded" datatable [dtOptions]="dtOptions" class="row-border hover table table-striped table-bordered">
    <thead>
      <tr>
        <th class="text-center">Type d'élection</th>
        <th class="text-center">Date debut d'éléction</th>
        <th class="text-center">Date fin d'éléction</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let election of elections;">
        <td>{{election.type | titlecase}}</td>
        <td class="text-center">{{election.dateDebut }}</td>
        <td class="text-center">{{election.dateFin}}</td>
     
    </tbody>
  </table>
</div>
