    <!--==========================
      Subscribe Section
    ============================-->
    <section id="subscribe">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h2>Newsletter</h2>
          <p>Souscrivez-vous à notre news letter pour ne rien manquer.</p>
        </div>

        <form method="POST" action="#">
          <div class="form-row justify-content-center">
            <div class="col-auto">
              <input type="text" class="form-control" placeholder="Entrer votre email">
            </div>
            <div class="col-auto">
              <button type="submit">souscrire</button>
            </div>
          </div>
        </form>

      </div>
    </section>
