/* You can add global styles to this file, and also import other style files */

@import "~ng-pick-datetime/assets/style/picker.min.css"; 
.modal{
    overflow: hidden !important;
}
.bg-primary{
    background-color: rgba(6, 12, 34, 0.98);
}
.cdk-overlay-container {
    z-index: 2000 !important;
}
.cdk-overlay-container {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 2000 !important;
}
.cdk-global-overlay-wrapper, .cdk-overlay-container {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 2000 !important;
}
.mt-100{
    margin-top: 100px;
    margin-bottom: 100px;
}
