

 <!--==========================
      Speakers Section
    ============================-->
 <section id="speakers" class="wow fadeInUp">
   <div class="container">
     <div class="section-header">
       <h2>Galerie</h2>
       <p>Quelques photos des politiciens dans l'histoire de la tunisie </p>
     </div>

     <div class="row">
       <div class="col-lg-4 col-md-6">
         <div class="speaker">
           <img src="assets/img/vote/1.jpg" alt="Speaker 1" class="img-fluid image-card">
           <div class="details">
             <h3><a href="speaker-details.html">Beji Caid el Sebsi</a></h3>
             <p>2014 à 2019</p>
             <div class="social">
               <a href=""><i class="fa fa-twitter"></i></a>
               <a href=""><i class="fa fa-facebook"></i></a>
               <a href=""><i class="fa fa-google-plus"></i></a>
               <a href=""><i class="fa fa-linkedin"></i></a>
             </div>
           </div>
         </div>
       </div>
       <div class="col-lg-4 col-md-6">
         <div class="speaker">
           <img src="assets/img/vote/3.png" alt="Speaker 2" class="img-fluid image-card">
           <div class="details">
             <h3><a href="speaker-details.html">Beji Caid el Sebsi</a></h3>
             <p>2014-2019</p>
             <div class="social">
               <a href=""><i class="fa fa-twitter"></i></a>
               <a href=""><i class="fa fa-facebook"></i></a>
               <a href=""><i class="fa fa-google-plus"></i></a>
               <a href=""><i class="fa fa-linkedin"></i></a>
             </div>
           </div>
         </div>
       </div>
       <div class="col-lg-4 col-md-6">
         <div class="speaker">
           <img src="assets/img/vote/4.jpg" alt="Speaker 3" class="img-fluid image-card">
           <div class="details">
             <h3><a href="speaker-details.html">Beji Caid el Sebsi</a></h3>
             <p>2014-2019</p>
             <div class="social">
               <a href=""><i class="fa fa-twitter"></i></a>
               <a href=""><i class="fa fa-facebook"></i></a>
               <a href=""><i class="fa fa-google-plus"></i></a>
               <a href=""><i class="fa fa-linkedin"></i></a>
             </div>
           </div>
         </div>
       </div>
       <div class="col-lg-4 col-md-6">
         <div class="speaker">
           <img src="assets/img/vote/5.jpg" alt="Speaker 4" class="img-fluid image-card">
           <div class="details">
             <h3><a href="speaker-details.html">Beji Caid el Sebsi</a></h3>
             <p>2014-2019</p>
             <div class="social">
               <a href=""><i class="fa fa-twitter"></i></a>
               <a href=""><i class="fa fa-facebook"></i></a>
               <a href=""><i class="fa fa-google-plus"></i></a>
               <a href=""><i class="fa fa-linkedin"></i></a>
             </div>
           </div>
         </div>
       </div>
       <div class="col-lg-4 col-md-6">
         <div class="speaker">
           <img src="assets/img/vote/6.jpg" alt="Speaker 5" class="img-fluid image-card">
           <div class="details">
             <h3><a href="speaker-details.html">Kaïs Saied</a></h3>
             <p>Actuel président</p>
             <div class="social">
               <a href=""><i class="fa fa-twitter"></i></a>
               <a href=""><i class="fa fa-facebook"></i></a>
               <a href=""><i class="fa fa-google-plus"></i></a>
               <a href=""><i class="fa fa-linkedin"></i></a>
             </div>
           </div>
         </div>
       </div>
       <div class="col-lg-4 col-md-6">
         <div class="speaker">
           <img src="assets/img/vote/7.jpg" alt="Speaker 6" class="img-fluid image-card">
           <div class="details">
             <h3><a href="speaker-details.html">Moncef Marzouki</a></h3>
             <p>2011-2014</p>
             <div class="social">
               <a href=""><i class="fa fa-twitter"></i></a>
               <a href=""><i class="fa fa-facebook"></i></a>
               <a href=""><i class="fa fa-google-plus"></i></a>
               <a href=""><i class="fa fa-linkedin"></i></a>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>

 </section>
 <!--==========================
      Gallery Section
    ============================-->
 <section id="gallery" class="wow fadeInUp">



   <div class="owl-carousel gallery-carousel">
     <a href="assets/img/vote/12.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/vote/12.jpg"
         alt=""></a>
     <a href="assets/img/vote/13.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/vote/13.jpg"
         alt=""></a>
     <a href="assets/img/vote/14.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/vote/14.jpg"
         alt=""></a>
     <a href="assets/img/vote/15.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/vote/15.jpg"
         alt=""></a>
     <a href="assets/img/vote/12.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/vote/12.jpg"
         alt=""></a>
     <a href="assets/img/vote/13.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/vote/13.jpg"
         alt=""></a>
     <a href="assets/img/vote/14.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/vote/14.jpg"
         alt=""></a>
     <a href="assets/img/vote/15.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/vote/15.jpg"
         alt=""></a>

   </div>

 </section>
