

 <!--==========================
      Speakers Section
    ============================-->
 <section id="speakers" class="wow fadeInUp">
   <div class="container">
     <div class="section-header">
       <h2>Galerie</h2>
       <p>Quelques photos politiciens dans l'histoire de la tunisie </p>
     </div>

     <div class="row">
       <div class="col-lg-4 col-md-6">
         <div class="speaker">
           <img src="assets/img/vote/1.jpg" alt="Speaker 1" class="img-fluid image-card">
           <div class="details">
             <h3><a href="speaker-details.html">Brenden Legros</a></h3>
             <p>Quas alias incidunt</p>
             <div class="social">
               <a href=""><i class="fa fa-twitter"></i></a>
               <a href=""><i class="fa fa-facebook"></i></a>
               <a href=""><i class="fa fa-google-plus"></i></a>
               <a href=""><i class="fa fa-linkedin"></i></a>
             </div>
           </div>
         </div>
       </div>
       <div class="col-lg-4 col-md-6">
         <div class="speaker">
           <img src="assets/img/vote/3.png" alt="Speaker 2" class="img-fluid image-card">
           <div class="details">
             <h3><a href="speaker-details.html">Hubert Hirthe</a></h3>
             <p>Consequuntur odio aut</p>
             <div class="social">
               <a href=""><i class="fa fa-twitter"></i></a>
               <a href=""><i class="fa fa-facebook"></i></a>
               <a href=""><i class="fa fa-google-plus"></i></a>
               <a href=""><i class="fa fa-linkedin"></i></a>
             </div>
           </div>
         </div>
       </div>
       <div class="col-lg-4 col-md-6">
         <div class="speaker">
           <img src="assets/img/vote/4.jpg" alt="Speaker 3" class="img-fluid image-card">
           <div class="details">
             <h3><a href="speaker-details.html">Cole Emmerich</a></h3>
             <p>Fugiat laborum et</p>
             <div class="social">
               <a href=""><i class="fa fa-twitter"></i></a>
               <a href=""><i class="fa fa-facebook"></i></a>
               <a href=""><i class="fa fa-google-plus"></i></a>
               <a href=""><i class="fa fa-linkedin"></i></a>
             </div>
           </div>
         </div>
       </div>
       <div class="col-lg-4 col-md-6">
         <div class="speaker">
           <img src="assets/img/vote/5.jpg" alt="Speaker 4" class="img-fluid image-card">
           <div class="details">
             <h3><a href="speaker-details.html">Jack Christiansen</a></h3>
             <p>Debitis iure vero</p>
             <div class="social">
               <a href=""><i class="fa fa-twitter"></i></a>
               <a href=""><i class="fa fa-facebook"></i></a>
               <a href=""><i class="fa fa-google-plus"></i></a>
               <a href=""><i class="fa fa-linkedin"></i></a>
             </div>
           </div>
         </div>
       </div>
       <div class="col-lg-4 col-md-6">
         <div class="speaker">
           <img src="assets/img/vote/6.jpg" alt="Speaker 5" class="img-fluid image-card">
           <div class="details">
             <h3><a href="speaker-details.html">Alejandrin Littel</a></h3>
             <p>Qui molestiae natus</p>
             <div class="social">
               <a href=""><i class="fa fa-twitter"></i></a>
               <a href=""><i class="fa fa-facebook"></i></a>
               <a href=""><i class="fa fa-google-plus"></i></a>
               <a href=""><i class="fa fa-linkedin"></i></a>
             </div>
           </div>
         </div>
       </div>
       <div class="col-lg-4 col-md-6">
         <div class="speaker">
           <img src="assets/img/vote/7.jpg" alt="Speaker 6" class="img-fluid image-card">
           <div class="details">
             <h3><a href="speaker-details.html">Willow Trantow</a></h3>
             <p>Non autem dicta</p>
             <div class="social">
               <a href=""><i class="fa fa-twitter"></i></a>
               <a href=""><i class="fa fa-facebook"></i></a>
               <a href=""><i class="fa fa-google-plus"></i></a>
               <a href=""><i class="fa fa-linkedin"></i></a>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>

 </section>
 <!--==========================
      Gallery Section
    ============================-->
 <section id="gallery" class="wow fadeInUp">



   <div class="owl-carousel gallery-carousel">
     <a href="assets/img/vote/12.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/vote/12.jpg"
         alt=""></a>
     <a href="assets/img/vote/13.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/vote/13.jpg"
         alt=""></a>
     <a href="assets/img/vote/14.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/vote/14.jpg"
         alt=""></a>
     <a href="assets/img/vote/15.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/vote/15.jpg"
         alt=""></a>
     <a href="assets/img/vote/12.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/vote/12.jpg"
         alt=""></a>
     <a href="assets/img/vote/13.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/vote/13.jpg"
         alt=""></a>
     <a href="assets/img/vote/14.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/vote/14.jpg"
         alt=""></a>
     <a href="assets/img/vote/15.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/vote/15.jpg"
         alt=""></a>

   </div>

 </section>
