 <!--==========================
      Venue Section
    ============================-->
    <section id="venue" class="wow fadeInUp">

        <div class="container-fluid">
            <div class="section-header">
                <h2>Galerie</h2>
                <p>Quelques photos politiciens dans l'histoire de la tunisie </p>
              </div>
        </div>
       
  
        <div class="container-fluid venue-gallery-container">
          <div class="row no-gutters">
  
            <div class="col-lg-3 col-md-4 card-photo-galerie">
              <div class="venue-gallery">
                <a href="assets/img/vote/1.jpg" class="venobox" data-gall="venue-gallery">
                  <img src="assets/img/vote/1.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 card-photo-galerie">
              <div class="venue-gallery">
                <a href="assets/img/vote/2.jpg" class="venobox" data-gall="venue-gallery">
                  <img src="assets/img/vote/2.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 card-photo-galerie">
              <div class="venue-gallery">
                <a href="assets/img/vote/3.png" class="venobox" data-gall="venue-gallery">
                  <img src="assets/img/vote/3.png" alt="" class="img-fluid">
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 card-photo-galerie">
              <div class="venue-gallery">
                <a href="assets/img/vote/4.jpg" class="venobox" data-gall="venue-gallery">
                  <img src="assets/img/vote/4.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 card-photo-galerie">
              <div class="venue-gallery">
                <a href="assets/img/vote/5.jpg" class="venobox" data-gall="venue-gallery">
                  <img src="assets/img/vote/5.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 card-photo-galerie">
              <div class="venue-gallery">
                <a href="assets/img/vote/6.jpg" class="venobox" data-gall="venue-gallery">
                  <img src="assets/img/vote/6.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 card-photo-galerie">
              <div class="venue-gallery">
                <a href="assets/img/vote/7.jpg" class="venobox" data-gall="venue-gallery">
                  <img src="assets/img/vote/7.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 card-photo-galerie">
              <div class="venue-gallery">
                <a href="assets/img/vote/8.jpg" class="venobox" data-gall="venue-gallery">
                  <img src="assets/img/vote/8.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 card-photo-galerie">
              <div class="venue-gallery">
                <a href="assets/img/vote/9.jpg" class="venobox" data-gall="venue-gallery">
                  <img src="assets/img/vote/9.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 card-photo-galerie">
              <div class="venue-gallery">
                <a href="assets/img/vote/10.jpg" class="venobox" data-gall="venue-gallery">
                  <img src="assets/img/vote/10.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="venue-gallery">
                <a href="assets/img/vote/11.jpg" class="venobox" data-gall="venue-gallery">
                  <img src="assets/img/vote/11.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>
            
          </div>
        </div>
  
      </section>
       <!--==========================
      Gallery Section
    ============================-->
    <section id="gallery" class="wow fadeInUp">

    
  
        <div class="owl-carousel gallery-carousel">
          <a href="assets/img/vote/12.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/vote/12.jpg" alt=""></a>
          <a href="assets/img/vote/13.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/vote/13.jpg" alt=""></a>
          <a href="assets/img/vote/14.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/vote/14.jpg" alt=""></a>
          <a href="assets/img/vote/15.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/vote/15.jpg" alt=""></a>
          <a href="assets/img/vote/12.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/vote/12.jpg" alt=""></a>
          <a href="assets/img/vote/13.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/vote/13.jpg" alt=""></a>
          <a href="assets/img/vote/14.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/vote/14.jpg" alt=""></a>
          <a href="assets/img/vote/15.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/vote/15.jpg" alt=""></a>
         
        </div>
  
      </section>
  
